@(
  myForm: Form[ModifyUserProfile]
)(
  implicit request: MessagesRequest[AnyContent],
  loginSession: LoginSession,
  flash: Flash,
  shoppingCartItemRepo: ShoppingCartItemRepo,
  db: play.api.db.Database
)

@import helper._

@main(Messages("changeUserProfileTitle"), Some(loginSession)) {
  <script src="@routes.Assets.versioned("javascripts/jquery.ui.datepicker-ja.js")" type="text/javascript"></script>
  <script src="@routes.Assets.versioned("javascripts/clipboard.js-master/dist/clipboard.min.js")" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() {
      $("#joinedDateTextBox").datepicker({
        dateFormat: 'yy年mm月dd日'
      });
    });
  </script>
} {
  <h1 class="title">@Messages("changeUserProfileTitle")</h1>

  @flash.get("errorMessage").map { message =>
    <div class="globalErrorMessage">
      @message
    </div>
  }

  @if(myForm.hasErrors) {
    <div class="globalErrorMessage">
      @Messages("inputError")
    </div>
  }

  @flash.get("message").map { message =>
    <div class="message">
      @message
    </div>
  }

  @form(action = CSRF(routes.ProfileMaintenance.doChangeProfile()), 'id -> "changeProfileForm") {
    @inputText(
      myForm("firstName"),
      '_label -> Messages("firstName"), 'size -> 16, 'maxlength -> 64
    )

    @inputText(
      myForm("lastName"),
      '_label -> Messages("lastName"), 'size -> 16, 'maxlength -> 64
    )

    @inputText(
      myForm("email"),
      '_label -> Messages("email"), 'size -> 16, 'maxlength -> 128
    )

    @inputText(
      myForm("firstNameKana"),
      '_label -> Messages("firstNameKana"), 'size -> 16, 'maxlength -> 64
    )

    @inputText(
      myForm("lastNameKana"),
      '_label -> Messages("lastNameKana"), 'size -> 16, 'maxlength -> 64
    )

    @inputText(
      myForm("telNo0"),
      '_label -> Messages("telNo0"), 'size -> 16, 'maxlength -> 64
    )

    @inputText(
      myForm("telNo1"),
      '_label -> Messages("telNo1"), 'size -> 16, 'maxlength -> 64
    )

    @inputText(
      myForm("telNo2"),
      '_label -> Messages("telNo2"), 'size -> 16, 'maxlength -> 64
    )

    @inputText(
      myForm("joinedDate"),
      '_label -> Messages("joinedDate"), 'id-> "joinedDateTextBox"
    )

    <div>
      @myForm("photoUrl").value.map { v =>
        <img src='@v'>
      }.getOrElse("")
    </div>
    @helper.inputText(
      myForm("photoUrl"),
      '_label -> Messages("photoUrl"), 'size -> 80, 'maxlength -> 1024
    )

    @helper.inputText(
      myForm("birthMonthDay"),
      '_label -> Messages("birthMonthDay"), 'size -> 4, 'maxlength -> 4
    )

    @textarea(
      myForm("profileComment"), 'rows -> 20, 'cols -> 80
    )

    @helper.inputPassword(
      myForm("password"),
      '_label -> (Messages("currentPassword")), 'size -> 24, 'maxlength -> 24
    )

    <input type="submit" value="@Messages("update")" id="updateButton">
  }

  <iframe class="filesArea" src="@routes.FileServer.index()">
  </iframe>

  <br>
  <a href="/">@Messages("gotoTop")</a>
}
