@(
  title: String,
  header: Html
)(
  implicit request: MessagesRequest[AnyContent],
  shoppingCartItemRepo: ShoppingCartItemRepo,
  db: play.api.db.Database
)

<title>@Messages("commonTitle", title)</title>
<link rel="stylesheet" media="all" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
<script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/jquery-ui-1.11.1.custom/jquery-ui.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/js.cookie-1.5.0.js")"></script>
<link href="@routes.Assets.versioned("javascripts/jquery-ui-1.11.1.custom/jquery-ui.theme.min.css")" rel="stylesheet">
<link href="@routes.Assets.versioned("javascripts/jquery-ui-1.11.1.custom/jquery-ui.min.css")" rel="stylesheet">
@header
