@import java.time.format.DateTimeFormatter
@import java.time.LocalDateTime
@import play.api.i18n.{Messages => msg}
@import java.time.Instant

@(
  page: Int, pageSize: Int, orderBy: OrderBy,
  recs: PagedRecords[(UploadedPath, StoreUser)],
  imageDateFormatter: DateTimeFormatter,
  toLocalDateTime: Instant => LocalDateTime,
  categoryName: String,
  directory: Option[Directory]
)(
  implicit request: MessagesRequest[AnyContent],
  flash: Flash,
  loginSession: LoginSession
)

@import helper._

<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery-ui-1.12.1.custom/jquery-ui.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/clipboard.js-master/dist/clipboard.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/fileList.js")"></script>
    <link href="@routes.Assets.versioned("javascripts/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("javascripts/jquery-ui-1.12.1.custom/jquery-ui.min.css")" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/fileList.css")"/>
  </head>
  <body>
    @form(action = CSRF(routes.FileServer.removeJson(page, pageSize, orderBy.toString, categoryName, directory.map(_.path))), 'id -> "removeForm") {
    }
    @form(action = CSRF(routes.FileServer.removeDirJson(page, pageSize, orderBy.toString, categoryName, directory.map(_.path))), 'id -> "removeDirForm") {
    }

    <div class="fileList">
      @if(recs.isEmpty) {
        <div class="fileListHeader">
          <div class="currentDirectory">
            @{directory.map { d => d.path }.getOrElse("/")}
          </div>
          <div class="createDirectory">
            @form(action = CSRF(routes.FileServer.createDirJson(page, pageSize, orderBy.toString, categoryName, directory.map(_.path))), 'id -> "createDirForm") {
              <input type="text" name="path" id="path">
            }
          </div>
          <div class="createDirectory">
            <button id="createDirBtn">@Messages("createDirectory")</button>
          </div>
          <div class="createDirectory">
            <button id="gotoParentDirBtn" onclick="location.href='@routes.FileServer.fileList(page, pageSize, orderBy.toString, categoryName, directory.map(_.parent.path)).url';">@Messages("gotoParentDirectory")</button>
          </div>
        </div>
        <span class="noRecords">@Messages("recordEmpty")</span>
      } else {
        <div class="fileListHeader">
          @pagingPanel(recs, routes.FileServer.fileList(_, _, _, categoryName, directory.map(_.path)), 10, 25, 50)(implicitly, Some(loginSession))
          <div class="currentDirectory">
            @{directory.map { d => d.path }.getOrElse("/")}
          </div>
          <div class="createDirectory">
            @form(action = CSRF(routes.FileServer.createDirJson(page, pageSize, orderBy.toString, categoryName, directory.map(_.path))), 'id -> "createDirForm") {
              <input type="text" name="path" id="path">
            }
          </div>
          <div class="createDirectory">
            <button id="createDirBtn">@Messages("createDirectory")</button>
          </div>
          <div class="createDirectory">
            <button id="gotoParentDirBtn" onclick="parent.location.href='@routes.FileServer.index(page, pageSize, orderBy.toString, categoryName, directory.map(_.parent.path))';">@Messages("gotoParentDirectory")</button>
          </div>
        </div>

        <table class="fileListTable">
          @recs.records.map { rec =>
            <tr class="row">
              <td class="fileName">
                @rec._1 match {
                  case f: UploadedFile => {
                    <a target="_blank" href="@routes.FileServer.getFile(f.id.get.value)">
                      @f.fileName
                    </a>
                  }
                  case d: UploadedDirectory => {
                    <a href="#" onclick='parent.location.href="@routes.FileServer.index(page, pageSize, orderBy.toString, categoryName, Some(d.fileName))";'>
                      @d.fileName
                    </a>
                  }
                }
              </td>
              <td class="createdTime">@imageDateFormatter.format(toLocalDateTime(rec._1.createdTime))</td>
              <td class="createdUser">
                @rec._2.fullName
              </td>
              <td class="link">
                @rec._1 match {
                  case f: UploadedFile => {
                    <span id="url@f.id.get.value">@routes.FileServer.getFile(f.id.get.value)</span>
                    <button class="copyBtn" data-clipboard-target="#url@f.id.get.value">@msg("copyToClipboard")</button>
                  }
                  case d: UploadedDirectory => {
                  }
                }
              </td>
              <td class="removeFile">
                @if(loginSession.isSuperUser || loginSession.userId == rec._1.storeUserId) {
                  @rec._1 match {
                    case f: UploadedFile => {
                      <button class="removeBtn" data-confirm='@Messages("deleteConfirm")' data-id="@rec._1.id.get.value">
                      </button>
                    }
                    case d: UploadedDirectory => {
                      <button class="removeDirBtn" data-confirm='@Messages("deleteConfirm")' data-id="@rec._1.id.get.value">
                      </button>
                    }
                  }
                }
              </td>
            </tr>
          }
        </table>
      }
    </div>
  </body>
</html>
