@(
  itemName: String,
  user: StoreUser,
  info: CreatePrize
)(
  implicit flash: play.api.mvc.Flash,
  request: MessagesRequest[AnyContent],
  loginSession: LoginSession,
  shoppingCartItemRepo: ShoppingCartItemRepo
)

@import helper._

@main(Messages("prizeCompleted"), Some(loginSession)) {
} {
  <h1 class="title">@Messages("prizeCompleted")</h1>

  <table>
    <tr>
      <td>@Messages("itemName")</td><td>@itemName</td>
    </tr>
  </table>

  <a href="/">@Messages("backTo", Messages("top"))</a>
}
